<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>three.js webgl - interactive - voxel painter</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<style>
			body {
				background-color: #f0f0f0;
				color: #444;
			}
			a {
				color: #08f;
			}
		</style>
	</head>
	<body>
		<div align="center">
			<h2 style="text-align: center">Block Model:</h2>
			<select id="blockModelSelect" style="text-align: center" onchange="selectBlockModel()">
				<option disabled selected value> -- Select a Block Model -- </option>
			</select>
            <h4 style="text-align: center">L: Previous Mineral T: Transparent K: Next Mineral</h4>
            <h4 style="text-align: center" id="currentMineral"></h4>
		</div>

		<script src="{{url_for('static', filename='three.js')}}"></script>
		<script src="{{url_for('static', filename='orbitControls.js')}}"></script>

		<script src="{{url_for('static', filename='WebGL.js')}}"></script>

		<script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>

		<script>

			if ( WEBGL.isWebGLAvailable() === false ) {

				document.body.appendChild( WEBGL.getWebGLErrorMessage() );

			}

			var camera, scene, renderer;
			var controls;
			var cubeGeometry;

			var blockMeshes = [];
			var blocks;
			var blockSize = 50;

			var currentGrade = null;
			var transparent = false;

			var initiated = false;

            var currentBlockModelGrades = [];
            var currentGradeIndex = 0;
            var gradeColors = [0xFF0000, 0xFF7F00, 0xFFFF00, 0x00FF00, 0x0000FF, 0x4B0082, 0x8B00FF];

            $.ajax({
                    url: 'block_models',
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $.each( data['block_models'] , function( key, value ) {
					        $("#blockModelSelect").append(new Option("Block Model "+value.id, value.id));
                        });
                    }
                });


			function selectBlockModel() {
			    if (!initiated){
			        init();
			        animate();
			        initiated = true;
				}
				var select = document.getElementById("blockModelSelect");
			    var selectedBlockModelId = select.options[select.selectedIndex].value;
				$.ajax({
                    url: 'block_models/'+selectedBlockModelId+'/blocks',
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        createObjects(data["blocks"]);
                    }
                });
            }

			function init() {

				createScene();

				createLights();

				//createObjects([]);

				createCamera();

				createRenderer();

				createCameraControls();

				setEventListeners();
			}

			function createScene() {
				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0xf0f0f0 );
			}

			function createLights() {
				var ambientLight = new THREE.AmbientLight( 0x606060 );
				scene.add( ambientLight );

				var light = new THREE.PointLight( 0xffffff );
				light.position.set( 1000, 1000, 1000 );
				scene.add( light );
			}

			function createObjects(blocks_data) {
				function generateBlocks() {
					blocks = [];
					currentGradeIndex = 0;
					$.each( blocks_data, function( key, value ) {
					    grades = {};
					    currentBlockModelGrades = [];
					    $.each( value.grades , function( key, grade_value ) {
					        currentBlockModelGrades.push(key);
                        });
					    currentGrade = currentBlockModelGrades[0];
					    $('#currentMineral').text("Current Mineral: "+currentGrade);
					    $.each( value.grades , function( key, grade_value ) {
					        if (grade_value.grade_type == 1){
					            grades[key] = grade_value.value/value.weight;
                            }
                            else if (grade_value.grade_type == 2){
                                grades[key] = grade_value.value;
                            }
                            else if (grade_value.grade_type == 3){
                                grades[key] = grade_value.value * value.weight / 35273.962;
                            }
                            else if (grade_value.grade_type == 4){
                                grades[key] = grade_value.value * value.weight * 0.0001;
                            }
                        });
					    blocks.push({
									"x_index": value.x_index,
									"y_index": value.y_index,
									"z_index": value.z_index,
									"grades": grades
								});
                    });
				}

				cubeGeometry = new THREE.BoxBufferGeometry( blockSize, blockSize, blockSize );

				generateBlocks();
				loadBlockModel();
			}

			function loadBlockModel() {
				function addBlock(block) {
					var cubeMaterial = new THREE.MeshLambertMaterial( { color: getBlockColor(block), 
						opacity: Math.max(0.02, block.grades[currentGrade]), transparent: transparent } );
					var blockMesh = new THREE.Mesh( cubeGeometry, cubeMaterial );
					
					var blockSizeWithOffset = blockSize * 1.1;
					blockMesh.position.set( blockSizeWithOffset * block.x_index,
						blockSizeWithOffset * block.y_index, blockSizeWithOffset * block.z_index);
					blockMeshes.push(blockMesh);
		
					scene.add( blockMesh );
					
				}

				function getBlockColor(block) {
					if (block.grades[currentGrade] < 0.001)
						return new THREE.Color(0x999999);
					var hue;
					if (currentGrade == null){
					    hue = gradeColors[0];
                    }
                    else{
                        hue = gradeColors[currentGradeIndex];
                    }
					var lightning = Math.floor(block.grades[currentGrade] * 70);
					var hsl = "hsl("+ hue + ", 100%, " + lightning + "%)";
					return new THREE.Color(hsl);
				}

				clearScene();
				for(var i=0; i<blocks.length; i++) {
					addBlock(blocks[i]);
				}
			}

			function createCamera() {
				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 10000 );
				camera.position.set( 2000, 2000, 3300 );
				camera.lookAt( 0, 0, 0 );
				camera.up.set(0, 0, 1);
				scene.add(camera);
			}

			function createRenderer() {
				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );
			}

			function createCameraControls() {
				controls = new THREE.OrbitControls( camera, renderer.domElement );
				controls.update();
			}

			function setEventListeners() {
				window.addEventListener( 'resize', onWindowResize, false );
				document.addEventListener( 'keydown', onDocumentKeyDown, false );
			}

			function clearScene() {
				for(var i=0; i<blockMeshes.length; i++) {
					scene.remove(blockMeshes[i]);
				}; 
			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			function onDocumentKeyDown( event ) {
			    switch ( event.keyCode ) {
			        case 74:
			            currentGradeIndex -= 1;
			            if (currentGradeIndex < 0){
			                currentGradeIndex = currentBlockModelGrades.length - 1;
                        }
                        currentGrade = currentBlockModelGrades[currentGradeIndex];
                        loadBlockModel();
                        $('#currentMineral').text("Current Mineral: "+currentGrade);
                        break;
                    case 76:
			            currentGradeIndex += 1;
			            if (currentGradeIndex >= currentBlockModelGrades.length){
			                currentGradeIndex = 0;
                        }
                        currentGrade = currentBlockModelGrades[currentGradeIndex];
                        loadBlockModel();
                        $('#currentMineral').text("Current Mineral: "+currentGrade);
                        break;
                    case 84: //t
                        transparent = !transparent;
                        loadBlockModel();
                        break;

                }
			}

			function animate() {

				requestAnimationFrame( animate );

				controls.update();

				renderer.render( scene, camera );

			}

		</script>
		
</body></html>